
.header{
 
    align-items: center;
    background-color: #5108b1;
    width: 80%;
    border-radius: 10px;
    padding: 0 2rem;
    margin: 1rem auto 3rem;
    
    
}
.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav__list{
    display: flex;
    gap: 35px;
}
.nav__contact{
    display: flex;
    gap: 15px ;
}