
.header{
 
    align-items: center;
    border-radius: 10px;
    padding: 0 2rem;
    margin: 1rem  ;
    
}
.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav__list{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav__list img{
width: 30px;

}

.nav__contact{
    display: flex;
    gap: 15px ;
}
