
.aboutMe__container{
    display: flex;
    justify-content: center;
    gap: .5rem;

}
.aboutMe__text{
    width: 50%;
    background-color: #d5edf0;
    padding: 1rem 2rem;
    border-radius: 10px;
    align-items: center;
  
}
.aboutMe__img img{
   width: 20rem;
   height: 20rem;
}

.aboutMe h3 {
    font-size: 1.5rem;
}