.aboutMe {
    margin: 3rem;
}
.aboutMe__container{
    display: flex;
    align-items: last baseline;
    gap: .5rem;

}
.aboutMe__text{
    width: 70%;
    background-color: #5108b1;
    padding: 1rem 2rem;
    border-radius: 10px;
  
}
.formacion h4 {
    line-height: 2px;
}
.formacion__item{
    background-color: #5108b1;
    margin: .5rem 0;
    border-radius: 10px;
    padding: .3rem .8rem;
    
}

.aboutMe h3 {
    font-size: 1.5rem;
}