
.main{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.main__text{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
 
}
.main__img img{
    width: 14rem;
}

.main__text h2 {
    font-size: 4rem;
    line-height: 2px;

}
.main__text h5 {
    font-size: 1rem;
    line-height: 2px;

}

.main__button{
    background-color: #13c3c9 ;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    color: #ececec;
}

