
.skills__title{
display: flex;
justify-content: center;
font-size: 1.8rem;
}
.skills__list{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-inline-start: 0;
}
.skills__item {
    background-color: #d5edf0;
    border-radius: 10px;
    width: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;

}

.skills__item img{
    width: 4rem;
    
}