@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
:root {

    --titles: 'Ubuntu', sans-serif;
    --font-colorLight: #252525;
}
*{
    box-sizing: border-box;
}
body {
    background-color: #fafafa; 
   min-height: 100vh;
    font-family: sans-serif;
    color: var(--font-colorLight);
}
a{
    text-decoration: none;
    font-weight: bold;
    color: var(--font-colorLight);
}

svg{
    width: 30px;
    border-radius: 50%;
   
}

li {
    list-style: none;
   
}

h1,h2,h3 {
    font-family: var(--titles);
}
section{
    margin: 5rem 0 ;
}
.container{
    margin: 2rem;
}




